/about-us.html
/add-tour.html
/archieve-tour.html
/blog-details.html
/blog.html
/contact-us.html
/gallery.html
/help-center.html
/index.html
/my-profile.html
/sign-up.html
/single-destination.html
/team.html
/terms-condition.html
/tour-destination-v1.html
/tour-destination-v2.html
/tour-destination-v3.html
/tour-package-v2.html
/tour-package-v4.html
/tour-single.html